
body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 0.9em;
}

a {
  color: #069;
}

#navigation {
  background-color: #000;
  margin: 0px;
  padding: 0.8em 30px;
}

#navigation a {
  margin-right: 1em;
  color: #DDD;
  text-decoration: none;
}

#navigation a:hover {
  margin-right: 1em;
  color: #FFF;
}

p.permatime {
  color: #666;
  text-align: right;
  font-size: 0.9em;
}

#content {
  width: 50%;
  margin-right: 4%;
  background-color: white;
  float: left;
}

#footer {
  clear: both;
  font-size: 0.9em;
  color: #999;
  padding: 5em 2em 2em 2em;
  text-align: center;
}

#getTheme {
  text-align: right;
  font-size: 0.9em;
  margin: 0px;
  padding: 0.5em 0.5em 0px 0.5em;
  border-left: 1px solid #DDD;
  color: #999;
}

#getTheme a {
  color: #999;
}

#blog {
  margin: 2em 0px 0px 2em;
  background-color: white;
  position: relative;
}

#stream {
  border-left: 1px solid #DDD;
  padding-left: 1em;
  padding-top: 0.5em;
  font-size: 0.9em;
}

#infoBlock {
  border: 1px solid #DDD;
  background-color: #EEE;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

div.blogMeta {
  border-bottom: 1px solid #DDD;
  padding: 1.3em 1em 1.8em 3em;
  background: transparent url(http://tr.im/zvtumblrleft) no-repeat 0.5em 1.2em;
}

div.streamMeta {
  padding: 1.3em 1em 1.8em 3em;
  background: transparent url(http://tr.im/zvtumblrdown) no-repeat 0.5em 1.2em;
}

a {
  color: #069;
}

a.rss {
  padding: 0.2em 0.8em 0.2em 20px;
  background: transparent url(http://tr.im/zvtumblrfeedicon) no-repeat left center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: bold;
}

h1, h2.streamTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0px 0px 0.7em -1em;
  padding-left: 1em;
}

div#search {
  margin: 1em 0px 0px 0px;
  padding: 0px;
}

div#search input, div#search button {
  font-size: 1.1em;
  vertical-align: middle;
  padding: 0.2em 0.2em;
}

div#search button {
  padding: 0.2em 0.5em;
}

#searchInput {
  width: 8em
}

div#search form {
  margin: 0px;
  padding: 0px;
}

h1 a {
  color: #444;
  text-decoration: none;
}

#sidebar {
  float: left;
  width: 40%;
  margin-top: 2em;
}

#description div a {
  color: #666;
}

#description #nav_container {
  font-size: 13px;
  font-weight: bold;
}

#description #nav_container .dim {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}

#searchresultcount {
  padding: 1em 0px 1.5em 0px;
  margin: 0px;
  text-align: center;
  border-top: 1px solid #EEE;
}

.post {
  position: relative;
  margin: 0px 0px 4em 0px;
}

.post div.labels {
  border-top: 1px solid #EEE;
  margin-bottom: 1em;
  text-align: right;
}

.post div.date {
  white-space: nowrap;
  padding: 0.3em 0px;
  float: right;
  margin: 0px 0px 0.5em 1em;
  border-bottom: 1px dotted #DDD;
}

.post div.disqusCommentCount {
  white-space: nowrap;
  padding: 0.3em 0px;
  float: right;
  margin: 0px 0px 0.5em 1em;
  border-bottom: 1px dotted #CCC;
}

.post div.date a, div.disqusCommentCount a {
  text-decoration: none;
  color: #999;
}

.post h2 {
  font-size: 1.4em;
  font-weight: Bold;
  color: #069;
  margin: 0px 0px 10px 0px;
}

.post h2 a {
  color: #069;
  text-decoration: none;
}

/* Regular Post */
.post .regular {
  font-size: 1em;
  color: #444;
  line-height: 1.4em;
}

.post .regular blockquote {
  font-style: italic;
}

/* Photo Post */
.post .photo img {
  border: solid 10px #eee;
}

.post .photo div.caption {
  font-size: 1em;
  color: #444;
  margin-top: 0.5em;
}

.post .photo div.caption a {
  color: #444;
}

/* Quote Post */
.post .quote span.quote {
  font: normal 1.6em Helvetica, sans-serif;
  color: #333;
  display: block;
  clear: right;
  line-height: 1.3em;
}

.post .quote span.quote a {
  color: #666;
}

.post .quote span.quote big.quote {
  font: Bold 1.5em Georgia, serif;
  line-height: 8px;
  vertical-align: -10px;
}

.post .quote span.source {
  font-size: 1.1em;
  font-weight: normal;
  color: #444;
  margin-top: 0.5em;
  display: block;
}

.post .quote span.source a {
  color: #444;
}

/* Link Post */
.post .link a.link {
  font: Bold 1.2em Helvetica, sans-serif;
  color: #069;
}

.post .link span.description {
  font-size: 1em;
  font-weight: normal;
}

/* Conversation Post */
.post .conversation ul {
  background-color: #f8f8f8;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.post .conversation ul li {
  border-bottom: solid 1px #ddd;
  font-size: 1em;
  padding: 0.4em 0.8em;
  color: #444;
}

.post .conversation ul li span.label {
  font-weight: bold;
  color: #111;
}

/* Audio Post */
.post .audio div.caption {
  font-size: 1em;
  color: #444;
  margin-top: 0.5em;
}

.post .audio div.caption a {
  color: #444;
}

/* Video Post */
.post .video {
  width: 400px;
}

.post .video div.caption {
  font-size: 1em;
  color: #444;
  margin-top: 0.5em;
}

.post div.video div.caption a {
  color: #444;
}

#pagination {
  padding: 2em 0px 3em 0px;
  font-size: 1em;
}

#pagination a {
  float: left;
  margin-right: 1.5em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background-color: #FFF;
  padding: 0.3em 0.5em ;
  text-decoration: none;
  border: 1px solid #8b937a;
}

.query {
  font-weight: bold;
}

pre {
  display: block;
  background-color: black;
  color: white;
}

.friendfeed .logo img {
  display: none;
}

.friendfeed.widget {
  border-width: 0px !important;
  font-size: 1em !important;
}

.feed {
  padding: 0px !important;
  margin: 1em 0px 2em !important;
}

.friendfeed .body {
  margin-bottom: 3em !important;
}

.friendfeed .info {
  color: #AAA !important;
  font-size: 1em !important;
  margin-top: 0.4em !important;
}

.friendfeed .timestamp, .friendfeed.widget .info a {
  color: #AAA !important;
}

.friendfeed .title {
  font-size: 1.2em !important;
  white-space: normal !important;
}

.friendfeed .link {
  font-size: 1.3em !important;
  font-weight: bold !important;
}

.friendfeed .link a {
  font-weight: bold !important;
}

.friendfeed.widget .summary {
  color: #666 !important;
  font-size: 1.1em !important;
  white-space: normal !important;
}

.friendfeed a {
  color: #069 !important;
}

.friendfeed.widget .feed .entry .comment {
  white-space: normal !important;
}