.highlight  {
  display: block;
  padding: 15px;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  background-color: #1c1c1c;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  CCborderRadius: 5px;
}

div.highlight pre span.hll {background-color: #404040;}
div.highlight pre span.gu  {color: #FFF; text-decoration: underline;}    /* Generic.Subheading */
div.highlight pre span.nn  {color: #447fcf; text-decoration: underline}  /* Name.Namespace */
div.highlight pre span.nc  {color: #447fcf; text-decoration: underline;} /* Name.Class */
div.highlight pre span.cm  {color: #999999; font-style: italic;}         /* Comment.Multiline */
div.highlight pre span.c1  {color: #999999; font-style: italic;}         /* Comment.Single */
div.highlight pre span.ge  {color: #d0d0d0; font-style: italic;}         /* Generic.Emph */
div.highlight pre span.c   {color: #999999; font-style: italic;}         /* Comment */
div.highlight pre span.err {color: #a61717; background-color: #e3d2d2;}  /* Error */
div.highlight pre span.cs  {color: #e50808; background-color: #520000;}  /* Comment.Special */
div.highlight pre span.g   {color: #d0d0d0;} /* Generic */
div.highlight pre span.k   {color: #6ab825;} /* Keyword */
div.highlight pre span.l   {color: #d0d0d0;} /* Literal */
div.highlight pre span.n   {color: #d0d0d0;} /* Name */
div.highlight pre span.o   {color: #d0d0d0;} /* Operator */
div.highlight pre span.x   {color: #d0d0d0;} /* Other */
div.highlight pre span.p   {color: #d0d0d0;} /* Punctuation */
div.highlight pre span.cp  {color: #cd2828;} /* Comment.Preproc */
div.highlight pre span.gd  {color: #d22323;} /* Generic.Deleted */
div.highlight pre span.gr  {color: #d22323;} /* Generic.Error */
div.highlight pre span.gh  {color: #FFF;}    /* Generic.Heading */
div.highlight pre span.gi  {color: #589819;} /* Generic.Inserted */
div.highlight pre span.go  {color: #cccccc;} /* Generic.Output */
div.highlight pre span.gp  {color: #aaaaaa;} /* Generic.Prompt */
div.highlight pre span.gs  {color: #d0d0d0;} /* Generic.Strong */
div.highlight pre span.gt  {color: #d22323;} /* Generic.Traceback */
div.highlight pre span.kc  {color: #6ab825;} /* Keyword.Constant */
div.highlight pre span.kd  {color: #6ab825;} /* Keyword.Declaration */
div.highlight pre span.kn  {color: #6ab825;} /* Keyword.Namespace */
div.highlight pre span.kp  {color: #6ab825;} /* Keyword.Pseudo */
div.highlight pre span.kr  {color: #6ab825;} /* Keyword.Reserved */
div.highlight pre span.kt  {color: #6ab825;} /* Keyword.Type */
div.highlight pre span.ld  {color: #d0d0d0;} /* Literal.Date */
div.highlight pre span.m   {color: #3677a9;} /* Literal.Number */
div.highlight pre span.s   {color: #ed9d13;} /* Literal.String */
div.highlight pre span.na  {color: #bbbbbb;} /* Name.Attribute */
div.highlight pre span.nb  {color: #24909d;} /* Name.Builtin */
div.highlight pre span.no  {color: #40ffff;} /* Name.Constant */
div.highlight pre span.nd  {color: #ffa500;} /* Name.Decorator */
div.highlight pre span.ni  {color: #d0d0d0;} /* Name.Entity */
div.highlight pre span.ne  {color: #bbbbbb;} /* Name.Exception */
div.highlight pre span.nf  {color: #447fcf;} /* Name.Function */
div.highlight pre span.nl  {color: #d0d0d0;} /* Name.Label */
div.highlight pre span.nx  {color: #d0d0d0;} /* Name.Other */
div.highlight pre span.py  {color: #d0d0d0;} /* Name.Property */    
div.highlight pre span.nt  {color: #6ab825;} /* Name.Tag */
div.highlight pre span.nv  {color: #40ffff;} /* Name.Variable */
div.highlight pre span.ow  {color: #6ab825;} /* Operator.Word */
div.highlight pre span.w   {color: #666666;} /* Text.Whitespace */
div.highlight pre span.mf  {color: #3677a9;} /* Literal.Number.Float */
div.highlight pre span.mh  {color: #3677a9;} /* Literal.Number.Hex */
div.highlight pre span.mi  {color: #3677a9;} /* Literal.Number.Integer */
div.highlight pre span.mo  {color: #3677a9;} /* Literal.Number.Oct */
div.highlight pre span.sb  {color: #ed9d13;} /* Literal.String.Backtick */
div.highlight pre span.sc  {color: #ed9d13;} /* Literal.String.Char */
div.highlight pre span.sd  {color: #ed9d13;} /* Literal.String.Doc */
div.highlight pre span.s2  {color: #ed9d13;} /* Literal.String.Double */
div.highlight pre span.se  {color: #ed9d13;} /* Literal.String.Escape */
div.highlight pre span.sh  {color: #ed9d13;} /* Literal.String.Heredoc */
div.highlight pre span.si  {color: #ed9d13;} /* Literal.String.Interpol */
div.highlight pre span.sx  {color: #ffa500;} /* Literal.String.Other */
div.highlight pre span.sr  {color: #ed9d13;} /* Literal.String.Regex */
div.highlight pre span.s1  {color: #ed9d13;} /* Literal.String.Single */
div.highlight pre span.ss  {color: #ed9d13;} /* Literal.String.Symbol */
div.highlight pre span.bp  {color: #24909d;} /* Name.Builtin.Pseudo */
div.highlight pre span.vc  {color: #40ffff;} /* Name.Variable.Class */
div.highlight pre span.vg  {color: #40ffff;} /* Name.Variable.Global */
div.highlight pre span.vi  {color: #40ffff;} /* Name.Variable.Instance */
div.highlight pre span.il  {color: #3677a9;} /* Literal.Number.Integer.Long */